/*all*/
.img-border{
	padding: 5px;
	border: 1px solid #ccc;
}
.table-width80{
	width: 80px;
}
.table-width60{
	width: 60px;
}
.table-width100{
	width: 100px;
}
.table-width120{
	width: 120px;
}
.all-btn-color{
	color: #fff !important;
	background-color: #5d4037 !important;
	border-color: #5d4037 !important;
}
.all-btn-color:hover{
	background-color: #c99878 !important;
	border-color: #c99878 !important;
}
ul.yiiPager .selected a{
	color:#fff !important;
	background-color: #5d4037 !important;
}
ul.yiiPager a:link, ul.yiiPager a:visited{
	border: solid 1px #5d4037 !important;
}

.yiiPager a{
	color:#5d4037 !important; 
}

a:link{
	text-decoration: none;
}
*{	
	margin:0;
	padding:0;
}
.modal-open { 
	overflow: inherit  !important; 
}
a:hover{ 
	text-decoration: none; 
}
.font12{ 
	font-size: 1.2em; 
}
.indent{ 
	text-indent: 2em; 
}
.padnone{ 
	padding:0; 
}
h5{	
	margin-top:0;
	font-size:1em;
	font-weight:bold;
}
li{ 
	list-style:none; 
}
h3{
    font-size:1.5em;
	font-weight:bold;
}
h4{ 
	font-size:1.2em;
	font-weight:bold;
}
body{ 
	font-family:"微软雅黑"; 
}
.padding100{
	padding:100px 0;
}
.padding50{
	padding:50px 0;
}
.paddingp{
	padding:20px;
}
.marginright{
	margin-right: 20px !important;
}
.line-center{
	margin-top:8px;
}
.paddingfifty{
	padding: 50px 0;
}footer
.retract{
	margin:20px auto;
	height: 1px;
	width: 960px;
	background: #ccc;
}
.cursor-txt{
	cursor :text !important;
} 
.radiusleft{
	border-bottom-left-radius:0;
	border-top-left-radius:0;
}
.radiusright{
	border-bottom-right-radius:0;
	border-top-right-radius:0;
}
.margintop10{
	margin-top:10px; 
}
/*提示*/
.wrapper-width{
	margin: 0 auto;
	width: 960px;
}
.warningtxt{
	height:34px;
	line-height:34px;
	color:#56abe4;
	font-size:14px;	
}
.warningtxt span{
	margin:9px;
	display:block;
	float:left;
	width:16px;
	height:16px;
	background:url(/img/iconfont-zhuyi.png) no-repeat;	
}
.errtxt{
	height:34px;
	line-height:34px;	
	font-size:14px;
	color:#eb4f38;
}
.errtxt span{
	margin:9px;	
	display:block;	
	float:left;
	width:16px;
	height:16px;
	background:url(/img/iconfont-cuowu.png) no-repeat;
}
.imgtop{
	background: url(/images/service/imgtop01.jpg) top center no-repeat;
	padding-top:230px; 
}
/*header*/

#header{
	width:100%;
	height:90px;
	background-color:#181a20;
}
#header-container{
	height:90px;
	margin:0 auto;
}
.header-nav{
	margin:0;
	float:right;
	height:90px;
}
.header-topnav{
	padding:0 10px;
	float:left;	
	line-height:40px;	
	list-style:none;
	text-decoration:none;
}
.header-topnav a{
	color:#fff;
	text-decoration:none;
}
.header-topnav a:hover{
	color:#56abe4;
}
.header-tel{
	height:40px;
	line-height:40px;
	color:#fff;
}
.header-tel span img{
	padding-right:10px;	
	padding-bottom: 3px;
}
/*nav*/
#nav{
	z-index:999;
	width:100%;
	height:40px;
	background:#37474f;
}
.nav-container{
	margin:0 auto;
	width:960px;
	height:40px;
}
.main-nav{
	margin:0;
}
#logo{
	display: inline-block;
	float:left;
	width:200px;
	height:90px;	
}
.nav-topnav{
	float:left;
	width:160px;
	height:40px;
	font-size:16px;	
	line-height:40px;
	text-align:center;	
	text-decoration:none;				
	list-style:none;
	background:#37474f;
}
.nav-topnav a{
	float:left;	
	width:160px;
	height:40px;
	font-size:16px;	
	line-height:40px;		
	color:#fff;
	text-align:center;
}
.nav-topnav a:hover{
	display:block;
	width:160px;
	height:40px;	
	color:#fff !important;
	text-decoration:none;
	background:url(/img/navhover.png) repeat-x;
}
.nav-active{
	display:block;
	width:130px;
	height:40px;
	color:#fff !important;
	text-decoration:none;	
	background:url(/img/navhover.png) repeat-x;
}

/*banner*/

.banner{
	position:relative;
	margin:10px auto 0;
	width:960px;
	height:670px;
}

.banner .imglist{
	position:absolute;
	top:0px;
	left:0px;
}
.banner .imglist img{
	margin:0 auto;
	width: 960px;
	height: 670px;	
}
.banner-btn{
	position:absolute;
	left:430px;
	bottom:10px;
	padding:2px 15px;	
	display:inline-block;
	border-radius:11px;
	background-color:#ccc;
}
.banner-btn li{
	margin:0px 2px;	
	float:left;
	height:16px;
	width:16px;
	background:url(/img/1.png) no-repeat;
}
.banner-btn .banner-hover{
	background:url(/img/2.png) no-repeat;
}
/*showapp*/

.showapp-container{
	margin:0 auto;
}
.showapp h4{
	padding: 50px;
}
/*app下载*/
.appdownbtn{
	border-color: #895b4c;
	background-color: #895b4c;
	width:205px;
	margin-top: 20px;
}
.appdownbtn:hover{
	border-color: #895b4c;
	background-color:#c38c69;
}
.downapp{
	margin-bottom: 50px;
	width:100%;	
	color: #000;
}
.downapp h2{
	font-size: 3em;
	font-weight: bold;
}
.downapp:hover{
	color: #000;
}

.downapp-container{
	position:relative;	
	margin:0 auto;	
	width:960px;
}
.downapp-left{
	float:left;
}
.downapp-code img{
	width: 200px;
	height: 200px;
}
.downapp-right{
	position:absolute;
	top:120px;
	left:630px;
}
.downapp-right h3{
	font-size: 2em;
}
.downapp-right h3,.downapp-right p{
	padding-bottom:30px;
}
/*产品展示*/
.page_container {
  max-width: 960px;
  margin: 150px auto;
}
.content h3{
	font-size: 1.8em;
}
.content p{
	font-size: 1.2em;
}

/*service*/
.service{
	padding:50px 0;
	width:100%;
	background:url(/img/bg-showapp.png) repeat;
}

.service-container{
	margin:0 auto;	
	width:960px;
}
.servicelist{
	margin-right:20px;
	float:left;	
	width:300px;
	height:400px;
}
.servicelist img{
	padding-bottom:40px;	
	max-width: 300px;
}
/*footer*/
.footer{
	width:100%;
	background-color:#eaeaea;
}
.footer-container{
	margin:0 auto;	
	padding:50px 0;
	width:960px;
}
.footer-left{
	float:left;
}
.service-tel{
	padding-left: 40px;	
	width:220px;
	height: 30px;
	font-size: 26px;	
	line-height: 30px;
	color: #000;
	background: url("/img/icon-footer-tel.png")left center no-repeat;
}
.footer-right{
	float:right;
}
.footer-right ul{
	float:left;
	margin:0 30px;

}
.footer-right li{
	padding-bottom:15px;
}
.footer-right li a{
	color:#000;
	text-decoration:none;

}
.footer-right li a:hover{
	color:#56abe4;
}
.footer-right h5{
	color: #000;
}
/*footer-bottom*/
.footer-bottom{
	width:100%;
	height:90px;
	background-color:#181a20;

}
.footer-link{
	margin:0 auto;	
	width:960px;
	height:90px;
	line-height:90px;
}
.footer-link h5{
	float:left;	
	line-height:90px;
	color:#fff;
}
.footer-link ul{
	margin:0;
	margin-left:10px;
}
.footer-link ul li{
	float:left;
}
.footer-link ul li a{
	padding:0 30px;	
	font-size:1em;
	color:#fff;
	border-right:1px solid #fff;
}
.footer-link ul li a:hover{
	text-decoration: underline;
}


.copyright{
	margin:0; 
	padding: 10px;
	width:100%;		
	color: #fff;
	text-align:center;	
	background: #000;
}
/*attention*/
.attention-left{	
	float: left;
}
.attention-right{
	float: right;
}
.attention-left h4{
	margin-bottom: 30px;
	padding-left: 140px;
	display: inline-block;
	height: 111px;
	font-size:1.5em; 
	line-height: 111px;
	background: url("/img/weixingicon.png") left center no-repeat;
}
.attention-left img{
	margin-bottom: 20px;
	clear: both;
}
.attention-right img{
	margin-bottom: 20px
}
.attention-right a{	
	margin-bottom: 20px;
}
.attention-img-code{
	margin-top:-17px; 
	margin-left: 15px;
}
.attention-left-txt{
	margin-left:14px; 
}
.attention-right-txt{
	margin-left: 14px;
}
.attention-pad-left{
 padding:0 65px;
}
.attention-pad-right{
 padding:0 80px;
}

/*register*/

.registertitle h3,.registertitle p{
	margin:0;	
	color:#000;
}
.register-tab{
	margin:0 auto;
	width:784px;
	border: 1px solid #ccc;
	background-color:#fff;
}
.registertitle{
	margin-bottom: 20px;
	padding-top: 250px;
}
.register{
	margin-bottom:50px;
	padding-bottom:50px;
	float: left;
	width: 700px;
	background-color:#fff;
}
.registerbottom{
	padding:0 30px;
}
.jiesongjibottom{
	padding-right:0px;
}
.register 	h3{
	padding:30px;
	text-align:center;
	clear:both;
}
.registerhide{
	display:none;
}
.registertop{
	height:50px;
	border-bottom:1px solid #ccc;
	background-color:#eee;
}
.registertop li{
	display:block;
	float:left;
	width:200px;
	height:50px;
	line-height:50px;
	font-size:18px;
	text-align:center;
	cursor: pointer;
}
.registertop a{
	display: inline-block;	
	width:394px;
	height:50px;
	color:#808080;
	cursor: pointer;
}
.registerhover{
	display:block;
	float:left;
	width:200px;
	height:50px;
	font-size:18px;
	line-height:50px;
	color:#000;
	text-align:center;
	border-top:3px solid #31b0d5;
	background-color:#fff;
}
.registerimg{
	background:url(/images/service/imgtop01.jpg) top center no-repeat;
}
.jiesongjiimg{
	background:url(/images/service/imgtop01.jpg) top center no-repeat;
}
.register-left{
	float: left;
	width: 700px;
}
.register-right{
	padding-top: 290px;
	float: right;
	width: 200px;
}
.register-right img{
	width: 200px;
	height: 200px;
}
.registertext{
	height: 200px;
	line-height: 24px;
}
/*login*/
.loginimg{
	background:url(/images/service/imgtop01.jpg) top center no-repeat;
}
.loginbtn{
	margin:20px 0;
	width:297px;
}
.login-right{
	margin: 310px 0 50px;
	float: right;
	width:300px;
}
.login-left{
	margin: 30px 0 50px;
	float: left;
}

.login-left img{
	width: 640px;
	height: 350px;
}
.login-tab{
	margin:0 auto;
	width:784px;
	border: 1px solid #ccc;
	background-color:#fff;

}
.login-head{
	margin-top: 380px;
	margin-left: 160px;
}
.login-head h3{
	font-size: 2.5em;
}
.login-head p{
	font-size: 2em;
}

.loginhide{
	display:none;
}
.logintop{
	height:50px;
	border-bottom:1px solid #ccc;
	background-color:#eee;
}
.logintop li{
	display:block;
	float:left;
	width:150px;
	height:50px;
	font-size:18px;
	line-height:50px;
	text-align:center;
	cursor: pointer;
}
.logintop a{
	display: inline-block;	
	width:394px;
	height:50px;
	color:#808080;
	cursor: pointer;
}
.loginhover{
	display:block;
	float:left;
	width:200px;
	height:50px;
	font-size:18px;
	line-height:50px;
	text-align:center;
	color:#000;
	border-top:3px solid #31b0d5;
	background-color:#fff;
}
.loginbottom{
	padding: 30px 10px;
}
/*接送机*/
.yhq-color{
	margin-bottom: 10px;
	height: 80px;
	background-color: #37474f;
	cursor: pointer;
}
.yhq-color div{
	font-size: 2em;
	line-height: 80px;
	text-align: center;
	color: #fff;
	clear: both;
}
.yhq-logo{
	float: left;;
	padding-left: 20px;
}
.jiejititle h3,.jiejititle p{
	margin:0;	
	color:#000;
}
.jiejititle p{
	font-weight: bold;

}
.jiejititle{
	padding-top: 250px;
	margin-bottom: 20px;
}
.jieji{
	padding-bottom:50px;
	margin-bottom:50px;
	background-color:#fff;
}
.jiejibottom{
	padding:0 30px;
}
.jiesongjibottom{
	padding-right:0px;
}
.jieji 	h3{
	padding:10px;
	text-align:center;
	clear:both;
}
.jiejihide{
	display:none;
}
.jiejitop{

	margin:0 auto;
	width: 490px;
	height:50px;
	border-bottom:1px solid #ccc;
	background-color:#eee;

}
.jiejitop li{
	display:block;
	float:left;
	width:245px;
	height:50px;
	font-size:18px;
	line-height:50px;
	text-align:center;
	cursor: pointer;
}
.jiejitop a{
	display: inline-block;	
	width:245px;
	height:50px;
	color:#808080;
	cursor: pointer;
}
.jiejihover{
	display:block;
	float:left;
	width:245px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:18px;
	color:#000;
	border-top:3px solid #31b0d5;
	background-color:#fff;
}
.jiesongjiimg{
	padding:50px 0;
	background:urlurl(/images/service/imgtop01.jpg) top center no-repeat;
}
.jieji-left{
	float: left;
	width: 700px;
}
.jieji-right{
	padding-top: 290px;
	float: right;
	width: 200px;
}
.jieji-right img{
	width: 200px;
	height: 200px;
}
.jieji-adress{
	padding-right: 0px;

}
/*magazine*/

.magazineimg{
	width: 1700px;
	height: 230px;
	margin: 0 auto;
}
.magazinelist img{
	display: block;
	width: 960px;
	padding: 20px 10px;
	float: left;
}

/*account*/

.account{
	margin:0 auto;
	padding:50px 0;
	width:960px;
}
.account-left{
	padding:20px 0;
	float:left;
	width:200px;
	border-radius:10px;
	background-color: #5d4037;
}
.account-left h3{
	margin:0;
	padding:20px 0 40px;
	color:#fff;
	text-align:center;
	border-bottom:1px solid #4e342e;
}

.account-left ul li a{
	display:block;
	height:67px;
	line-height:67px;
	color:#fff;
	text-decoration:none;
	list-style:none;
	border-bottom:1px solid #4e342e;
		padding-left:20px;

}

.account-left ul li a:hover{
	color:#fff;
	background-color:#c99878;
}
.account-left-select{
	color:#fff !important;
	background-color:#c99878;
}
.account-left ul li{
	height:67px;
	border-bottom:1px solid #66453a;
	cursor: pointer;
}
.account-right{
	float:right;
	width:740px;
}
.account-tab{
	margin-bottom:10px;	
}
.account-bill-tab li{
	width: 148px;
}
.account-tab li{
	display:block;
	float:left;
	height:67px;
	line-height:67px;
	text-align:center;
	color:#fff;
	background-color:#5d4037;
	cursor: pointer;
}

.account-tab-hover{
	color:#c99878 !important;
	border-top:2px solid #c99878 !important;
	background-color:#fff !important;
}

.account-search{
	margin-bottom:20px;
	padding:0 20px;
	height:67px;
	line-height:60px;
	border:1px solid #ccc;
	border-radius:5px;
	background-color:#f4f4f4;
	clear:both;
}
.account-search button{
	width:80px;
}
.account-container{
	margin-top:20px;
}
/*account-balance*/
.balance-money{
	margin-bottom:20px;
	height:67px;
	border:1px solid #ccc;
	border-radius:5px;
	background-color:#f4f4f4;
}
.balance-money div,.balance-money p{
	float:left;
	line-height:67px;
	padding:0 20px;
}
.btn-color{
	float:left;
	margin:18px 0;
	width:55px;	
} 
.balance-money p{
	font-size:14px;
	color:#40a6d9;
}
.balance-money div span{
	padding:20px;
	color:#40a6d9;
}
.accound-record-head{
	padding:5px;
	width:100%;
	border-bottom:1px solid #ccc;
}
.account-record{
	background-color:#f4f4f4;
	border:1px solid #ccc;
	border-radius:5px;
	padding:20px;
	margin-bottom:20px;
}
.account-record button{
	float:right;
	width:120px;
}
.account-coupon-input{
	width:590px !important;
}
.btn-coupon{
	width: 100px !important;
}
.account-right-head{
	width:100%;
	border-bottom:1px solid #ccc;
	padding:10px 0;
}
.account-information-left{

}
.information-header{
	margin:20px 0
}
.information-header img{
	margin-bottom:20px; 
	max-height: 160px;
	max-width: 160px;


}


.btn-adress a{
	width: 120px;
}

.information-file {
	position: relative;
	display: inline-block;

	padding: 4px 12px;
	overflow: hidden;

	text-decoration: none;
	text-indent: 0;

}
.information-file input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	cursor: pointer;
}



.account-information-right{
	margin-top:20px;
}
.account-right-head div{
	height: 34px;
	line-height: 34px;
	font-size: 18px;
}
.account-right-head div span{
	color: #40a6d9;
}

.invoice-addr{
	padding: 5px;

}
.addrlist{
   line-height: 20px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block; 
	float: left;
	margin:10px;
	padding: 10px;
	height: 150px;
	border:1px solid #ccc;
	cursor: pointer;

}

.addrlist h5{
	padding-bottom:10px; 

}
.addrlist p{
	padding-bottom:10px; 

}
.addrlist a{

	line-height: 120px;
}
.addrlist .small{
	border: none;
}


.addrlist-select {
    color: #fff !important;
    background: #c99878;
    border-color: #c99878;
    text-decoration: none;
}
.addrlist h4{
	margin-top: 55px;
}
.invoice-addr a{
	color: #000;
}

/*活动优惠*/
.activitieslist{
	height: 315px;
	margin:20px;
}
.eventbtn{
	color: #7d7d7d;
	background-image: -webkit-gradient(radial, center center, 0, center center, 150, from(white), to(#dedede));
	background-image: -webkit-radial-gradient(center center, contain, white, #dedede);
	background-image: -moz-radial-gradient(center center, contain, white, #dedede);
	background-image: -o-radial-gradient(center center, contain, white, #dedede);
	background-image: -ms-radial-gradient(center center, contain, white, #dedede);
	background-image: radial-gradient(center center, contain, white, #dedede);
	border:none;
	}
.eventbtn:hover{
	color: #ccc;
	background-image: -webkit-gradient(radial, center center, 0, center center, 150, from(white), to(#dedede));
	background-image: -webkit-radial-gradient(center center, contain, white, #dedede);
	background-image: -moz-radial-gradient(center center, contain, white, #dedede);
	background-image: -o-radial-gradient(center center, contain, white, #dedede);
	background-image: -ms-radial-gradient(center center, contain, white, #dedede);
	background-image: radial-gradient(center center, contain, white, #dedede);
	border:none;
}
/*活动详情*/
.active-detial-wrapper{
	width: 688px;
	margin: 0 auto;
}
.active-detial-img{
	width: 688px;
	height: 600px;
	background: #ccc;
}
.active-detial-content{
	margin:20px 0;
}
.active-detial-content p{
	font-size: 1.2em;
}
/*企业用户*/
.enterprise-head h3{
	font-size: 2em;
}
.enterprise-head p{
	font-size: 1.5em;
}
.enterprise-car img{
	display: block;
	width:960px;
	margin: 0 auto;
}
.enterprise-car div{
	padding: 50px 10px;
}
.enterprise-why{
	padding-top: 50px;
}
.enterprise-why .col-md-12{
	padding:10px; 
}

.enterprise-login{
	margin-top: 20px;
	float: right;
	width: 360px;
	margin-bottom: 50px;

}
.enterprise-login h3{
	margin-bottom: 50px;
}
.enterprise-why-bg{
	background-color: #e1efff;
	padding-top: 50px ;
}
.enterprise-user-container{
	margin-top:5px; 
	position: relative;

}
.enterprise-title{

	width: 301px;
	height: 78px;
	margin: 0 auto;
	margin-top: -75px;

}
.enterprise-use{
	position: absolute;
	width: 361px;
	height: 78px;
	margin:0 auto;
	top: -25px;
	left: 295px;
	z-index: 999;
}
.enterprise-login-left{
	float: left;
	margin-bottom: 50px;

}
.enterprise-login-left h3{
	margin-top:160px;
	margin-left:120px; 
	font-size: 2.5em; 
}

/*服务*/
.service-business{
	padding: 50px 0;
}
.subtitle{
	font-size: 1.3em;
	height: 34px;
	line-height: 34px;
}
.subtitle span{
	display: block;
	width: 4px;
	height: 34px;
	float: left;
	background: #56abe4;
	margin-right: 10px;
}
.subspan{
	display: inline-block;
	padding:0 14px;
	line-height: 30px;
	color: #999;
}
.service-business-img{
	margin-bottom: 20px;
}
.subspan h5{
	color: #666;
}
.fuwulist{
	height: 400px;
	width: 222px;
	margin: 5px;
}
.fuwulist h5{
	height: 34px;
	text-align: center;
	line-height: 34px;
	color: #666;
}

.fuwulist p{
	color: #999;
	padding: 10px;
}
.noticelist{
	padding: 50px 20px;

}
.noticelist p{
	line-height:30px;
	padding: 0;

}
.about-right{
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #fff;
}
.about-right p{
	color: #666;
	line-height: 30px;

	padding: 0;
}
.about-right img{
	max-width: 680px;
}
.car-price{
	margin-top: 20px;
	margin-left: 20px;
}
.car-circle{
	-webkit-box-shadow: 3px 4px 28px 1px rgba(109,142,168,.52);
	-moz-box-shadow: 3px 4px 28px 1px rgba(109,142,168,.52);
	box-shadow: 3px 4px 28px 1px rgba(109,142,168,.52);


	margin:0 30px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	text-align: center;
/*	background-color: #604c33;*/
	color: #000;
	padding:34px 10px;
	float: left;
}
.car-code{
	font-size: 2em;
	margin:0 30px;
	padding: 40px;
	text-align: center;
	color: #000;
	float: left;
}
.carmonery{
	position:relative;
	margin:10px auto 0;
	width:960px;
	height:570px;
}

.carmonery .carmonerylist{
	position:absolute;
	top:0px;
	left:0px;
}
.carmonery .carmonerylist img{
	margin:0 auto;
	width: 100%;
}
.carmonery-btn{
	position:absolute;
	left:430px;
	bottom:10px;
	padding:2px 15px;	
	display:inline-block;
	border-radius:11px;
	background-color:#ccc;
}
.carmonery-btn li{
	margin:0px 2px;	
	float:left;
	height:16px;
	width:16px;
	background:url(/img/1.png) no-repeat;
}
.carmonery-btn .carmonery-hover{
	background:url(/img/2.png) no-repeat;
}
.carmonery-p{
	margin-bottom: 50px;
	margin-top:20px;
	text-align: center;


}
.service-img{
	padding: 10px 0 50px;
}
/*downapp*/
.downapp-wrapper{
	margin-top:50px;
}
.downlist{
	float: left;
	padding: 10px;
	width: 450px;
}
.downlist img{

	padding-left: 14px;
	padding-bottom: 20px;

}

/*百度自动补全*/

#tangram-suggestion--TANGRAM__2-main {
	z-index: 9999;
}