
.imgcss{
	margin:20px auto;
	width:60%;
	}
.icon1{
	width:70px;
	height:70px;
	margin-right:1em;}
.footerbg{
	background:url(img/bottom.png) repeat-x bottom;
	width:720px;
	height:163px;
	max-width:100%;
	max-height:100%;
	}