/*所有*/
.head {
	width: 100%;
	background: rgb(66, 139, 202);
	margin-bottom: 1em;
}

.head p {
	color: #fff;
	padding: 0.3em;
	font-size: 2em;
}

.container-fluid {
	padding-bottom: 1em;
}

.allwidth {
	width: 100%;
}

.allmargin {
	margin: 2em 0;
}

.allpadding {
	padding-right: 0.5em;
	padding-left: 0.5em;
}

.alltop {
	margin-top: 1em;
}

.allsizelg {
	font-size: 2em;
}

/*关于我们*/
.psize {
	font-size: 1em;
}

/*接送机*/
h1 {
	color: #ffffff;
}

.padd {
	margin: 0.5em auto;
}

.rmb {
	font-size: 2em;
	color: rgb(66, 139, 202);
	margin: 0 1em;
}

/*下载*/
.iconsize {
	font-size: 1.5em;
	padding-right: 0.3em;
}

.imgcss {
	width: 50%;
	margin: 2em auto;
}

/*航班号*/
.title {
	display: block;
	width: 100%;
	background: rgb(66, 139, 202);
	color: #fff;
	padding: 0.3em;
	font-size: 1.5em;
	text-align: center;
	margin-top: 1em;
}

.hangban-time {
	border-bottom: 1px #ccc solid;
	width: 100%;
	font-size: 1em;
	padding: 1em;
	background-color: #fff;
	color: #000;
	text-indent: 2em;
	display: block;
	text-decoration: none;
	text-align: center;
}

.hangban-time:hover {
	background-color: #E3E3E3;
	text-decoration: none;
}

.wancheng-p {
	margin: 1em;
	background-color: rgba(87, 166, 64, 1.00);
	font-size: 2em;
	padding: 2em;
	color: #fff;
}

.wancheng-p i {
	font-size: 2em;
}


/*
百度自动补全
*/
#tangram-suggestion--TANGRAM__2-main {
	z-index: 9999;
}

/*我的订单*/
.alllist {
	width: 100%;
	background: #fff;
	border: 1px rgba(204, 204, 204, 1.00) solid;
	clear: both;
	border-radius: 0.3em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0 !important;
}

.leixin {
	border-radius: 0.3em 0 0 0;
	padding: 0.5em;
	text-align: center;
	width: 20%;
	color: #fff;
	font-weight: bold;
	border-right: 1px rgba(204, 204, 204, 1.00) solid;
}

.paizhao {
	padding: 0.5em;
	width: 30%;
}

.shifu {
	padding: 0.5em;
}

.twolist {
	border-top: 1px rgba(204, 204, 204, 1.00) solid;
}

.ddicon {
	padding: 0.5em;
	font-weight: bold;
}

.ddpadd {
	padding: 0.5em;
}

.threelist {
	border-bottom: 1px rgba(204, 204, 204, 1.00) solid;
}

.bg-airportsend {
	background-color: rgba(239, 102, 31, 1.00);
}

/*订单详情*/
.ddimg {
	margin-right: 1em;
}

.ddfukuan p {
	line-height: 2.5em;
}

.ddfukuan strong {
	font-size: 1.5em;
}

.listind {
	text-indent: 1em;
}
/*优惠券*/
.bgcolor {
	height: 6em;;
	width: auto;
	background-color: #26a69a;
	margin-bottom: 1em;
}

.bgcolor div {
	color: #fff;
	font-size: 2em;
	line-height: 3em;
	text-align: center;
}

.logo-left {
	float: left;
	padding-left: 20px;
}


/*app广告页*/
.applogo{ 
	position:absolute;
	top:10px;
	left:10px;
	}
.apptxt{
	color:#fff;
	text-align:center;
	padding:5px;
	font-weight:bold;
	}